<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Nancy Caching Demo</h1>
    <p>This page was created on: @Model</p>
    <p>This may or may not be cached :-)</p>
    <a href="/">Home</a>
</body>
</html>