<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Nancy Authentication Demo</h1>
    <a href="/secure">Secure Pages</a>
    <a href="/superSecure">Super Secure Pages</a>
    <a href="/superSecureToo">More Super Secure Pages</a>
</body>
</html>