@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Hello</title>
</head>
<body>
    <h1>Hello World, this is the View Start...</h1>

    @RenderBody()
</body>
</html>