Andreas Håkansson <andreas@thecodejunkie.com> <andreas@selfinflicted.org>
Andreas Håkansson <andreas@thecodejunkie.com> <andreas@thecodejunkie.com>
Andreas Håkansson <andreas@thecodejunkie.com> <thecodejunkie@users.noreply.github.com>
Andreas Håkansson <andreas@thecodejunkie.com> <andreas@selfinflicted.org>

Steven Robbins <grumpydev@users.noreply.github.com> <ste.robbins@gmail.com>
Steven Robbins <grumpydev@users.noreply.github.com> <steve@robbins.me.uk>
Steven Robbins <grumpydev@users.noreply.github.com> <grumpydev@users.noreply.github.com>

Brendan Forster <brendan@github.com> <shift.key@gmail.com>
Brendan Forster <brendan@github.com> <brendan@github.com>

Jonathan Channon <jonathan.channon@gmail.com> <jonathan.channon@gmail.com>
Jonathan Channon <jonathan.channon@gmail.com> <jonathan@jonathanchannon.com>

Brendan Tompkins <brendan.tompkins@gmail.com> <brendan.tompkins@gmail.com>
