language: csharp
sudo: required
dist: trusty
addons:
  apt:
    packages: 
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
script: ./build.sh --verbosity diagnostic
notifications:
  email:
    - nancy@nancyfx.org
