body
{
    background: black;
    color: white;
    font-family: Arial;
}

ul
{
    list-style: none;
}

button.g-button, a.g-button, input[type=submit].g-button, input[type=button].g-button
{
    padding: 6px 10px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px rgb(153, 153, 153);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
}

.container_12
{
    padding: 20px 0;
    position: relative;
}

.header
{
    padding: 0 0 28px 0;
    height: 100px;
    position: relative;
}

.header h1
{
    font-size: 24pt;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 18px;
}

a.icon-block
{
    display: block;
    background-color: white;
    height: 180px;
    line-height: 0;
    font-size: 0;
    color: transparent;
}

a.icon-block:hover
{
    border: 2px solid #555555;
    height: 176px;
    margin-right: 8px;
    margin-left: 8px;
    background-size: auto 150px;
}

div.description-text h2
{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

#infoBox
{
    background-image: url(info.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#interactiveBox
{
    background-image: url(interactive.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#traceBox
{
    background-image: url(logs.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#settingsBox
{
    background-image: url(settings.png);
    background-position: center center;
    background-repeat: no-repeat;
}

div.item-list
{
    background: white;
    color: Black;
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;
    min-height: 100px;
    cursor: pointer;
}

div.item-list:hover
{
    width: 100%;
    padding: 5px;
    border: 2px solid #555555;
}

div.item-list h2
{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0px;
}

/* JSON Report CSS */

.modelreport TABLE
{
    border-collapse: collapse;
    border: solid 1px #ccc;
    clear: left;
}

.modelreport TH
{
    text-align: left;
    padding: 4px 8px;
    text-shadow: #fff 1px 1px -1px;
    background: #f1f1f1;
    color: black;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
}
.modelreport TH, .modelreport TD, .modelreport TD DT, .modelreport TD DD
{
    font-size: 11px;
    font-family: Arial;
}

.modelreport TD
{
    padding: 8px 8px 0 8px;
    vertical-align: top;
}

.modelreport DL
{
    clear: left;
    margin: 0px;
}

.modelreport DT
{
/*    margin: 10px 0 5px 0;*/
    font-weight: bold;
    font-size: 13px;
    width: 160px;
    clear: left;
    float: left;
    display: block;
    white-space: nowrap;
}

.modelreport DD
{
/*    margin: 5px 10px;*/
    font-weight: bold;
    font-size: 13px;
    display: block;
    float: left;
}
.modelreport DL DL DT
{
    font-weight: bold;
    font-size: 13px;
}
.modelreport DL DL DD
{
    font-size: 13px;
    max-width: 200px;
}
.modelreport HR
{
    display: none;
}
.modelreport TD DL HR
{
    display: block;
    padding: 0;
    clear: left;
    border: none;
}
.modelreport TD DL
{
    padding: 4px;
    margin: 0;
    height: 100%;
    max-width: 700px;
}
.modelreport DL TD DL DT
{
    padding: 2px;
    margin: 0 10px 0 0;
    font-weight: bold;
    font-size: 11px;
    width: 120px;
    overflow: hidden;
    clear: left;
    float: left;
    display: block;
}
.modelreport DL TD DL DD
{
    margin: 0;
    padding: 2px;
    font-size: 8px;
    display: block;
    float: left;
}
.modelreport TBODY > TR:last-child > TD
{
    padding: 8px;
}
.modelreport THEAD
{
    -webkit-user-select: none;
    -moz-user-select: none;
}
.modelreport .desc, .modelreport .asc
{
    background-color: #FAFAD2;
}
.modelreport .desc
{
    background-color: #D4EDC9;
}
.modelreport TH B
{
    display: block;
    float: right;
    margin: 0 0 0 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: none;
}
.modelreport .asc B
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: none;
}
.modelreport .desc B
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    border-top: none;
}
.modelreport H3
{
    font-size: 13px;
    margin: 0 0 10px 0;
}
