body
{
    background: black;
    color: white;
    font-family: Arial;
}

ul
{
    list-style: none;
}

button.g-button, a.g-button, input[type=submit].g-button, input[type=button].g-button
{
    padding: 6px 10px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px rgb(153, 153, 153);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
}

.container_12 
{
    padding: 20px 0;
    position: relative;
}

.header
{
    padding: 0  0  28px 0;
    height: 100px;
    position: relative;
}

.header h1
{
    font-size: 24pt;
    position: absolute; 
    bottom: 0; 
    right: 0;
    margin-bottom: 18px; 
}

a.icon-block
{
    display: block;
    background-color: white;
    height: 180px;
    line-height: 0; 
    font-size: 0;
    color: transparent; 
}

a.icon-block:hover
{
    border: 2px solid #555555;
    height: 176px;
    margin-right: 8px;
    margin-left: 8px;
}

div.description-text h2
{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

#infoBox
{
    background-image: url(info.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#interactiveBox
{
    background-image: url(interactive.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#traceBox
{
    background-image: url(logs.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#settingsBox
{
    background-image: url(settings.png);
    background-position: center center;
    background-repeat: no-repeat;
}
