<!DOCTYPE html>
<html>
    <head>
        <title>Nancy.Testing.Experiments</title>
    </head>
    <body>
        <div id="container">
            <h1>This is the index page</h1>
            <p>With some content on it</p>
        </div>
    </body>
</html>
