<html>
<head>
    <title>Razor View Engine Demo</title>
</head>
<body>
    <h1>Hello @Model.FirstName</h1>
	<p>This is a Razor view..</p>
    <p>@Model.ApplicationDependencyText</p>
    <p>@Model.RequestDependencyText</p>
</body>
</html>