<html>
<head>
    <title>CSRF Demo</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="Name"/>
        @Html.AntiForgeryToken();
        <input type="submit"/>
    </form>
</body>
</html>