<html>
<head>
    <title>Razor View Engine Demo</title>
</head>
    <body>
        This is the defualt layout
        <div id="body">
            @RenderBody()
        </div>
    </body>
</html>