<html>
<head>
    <title>DotLiquid View Engine Demo</title>
</head>
<body>
    <h1>The name's Liquid, {{ model.name | upcase }} Liquid</h1>
    <p>This is a sample DotLiquid view!</p>
</body>
</html>