@{
    Layout = "razor-layout.cshtml";
}
@section Header
{
    <!-- This comment should appear in the header -->
}
<h1>Hello @Model.FirstName</h1>
<p>This is a sample Razor view!</p>
@section Footer
{
<p>This is footer content!</p>
<img src='@Url.Content("~/content/face.png")' alt="Face"/>
}
