<html>
<head>
    <title>Razor View Engine Demo</title>
</head>
<body>
    <h1>Model: @Model.GetType().Name</h1>
    <h1>View: SomeView</h1>
    <p>This is a sample of using the name of the model type to locate the view to render!</p>
</body>
</html>