<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Nancy - Static view served by self-host</title>
    </head>
    <body>
        <h1>Static view served by self-host</h1>
        <p>
            This view was served by the Nancy self-host.
        </p>
        <ul>
            <li>Scheme: @Model.Scheme</li>
            <li>HostName: @Model.HostName</li>
            <li>Port: @Model.Port</li>
            <li>BasePath: @Model.BasePath</li>
            <li>Path: @Model.Path</li>
        </ul>
        <a href="http://localhost:8888/nancy/">http://localhost:8888/nancy/</a><br/>
        <a href="http://localhost:8888/nancy/testing">http://localhost:8888/nancy/testing</a><br/>
        <a href="http://127.0.0.1:8898/nancy/">http://127.0.0.1:8898/nancy/</a><br/>
        <a href="http://127.0.0.1:8898/nancy/testing">http://127.0.0.1:8898/nancy/testing</a><br/>
        <a href="http://localhost:8889/nancytoo/">http://localhost:8889/nancytoo/</a><br/>
        <a href="http://localhost:8889/nancytoo/testing">http://localhost:8889/nancytoo/testing</a><br/>
    </body>
</html>
