<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>