<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.19.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.13" targetFramework="net40" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net40" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net40" />
  <package id="Microsoft.Owin.Testing" version="2.1.0" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net40" />
</packages>