<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <!-- 
  We can override the bootstrapper inside the config if we don't want to rely on the bootstrapper locator.
  -->
  <configSections>
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection" />
  </configSections>
  <nancyFx>
    <bootstrapper assembly="Nancy.Demo" type="Nancy.Demo.DemoBootstrapper, Nancy.Demo"/>
  </nancyFx>
  <razor>
    <assemblies>
      <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add assembly="Nancy.Hosting.Aspnet" />
    </assemblies>
    <namespaces>
      <add namespace="System.Xml" />
    </namespaces>
  </razor>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>
