<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
	<h1>SectionWithDefaultsLayout</h1>
	<div>
	@if (IsSectionDefined("FirstSection")) {
	@RenderSection("FirstSection", required: false)
	} else {
	<div>OptionalSectionDefault</div>
	}
	</div>
	<div>
		@RenderBody()
	</div>	
	</body>
</html>