<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
	<h1>SimplyLayout</h1>
	<div>
		@RenderSection("FirstSection")
	</div>
	<div>
		@RenderBody()
	</div>	
	</body>
</html>