<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      <httpModules>
        <add name="Gate" type="Gate.AspNet.Module, Gate.AspNet" />  
      </httpModules>
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Gate" type="Gate.AspNet.Module, Gate.AspNet" />
    </modules>
  </system.webServer>
</configuration>
