<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Super Secure Login Page 4000</h1>
    <form action="@Model" method="get">
        <input name="username" />
        <input type="submit" value="Submit"/>
    </form>
    <a href="/">Home</a>
</body>
</html>