@{
    Layout = "LayoutWithManySections";
}

@section FirstSection {
    <div>First section in ViewThatUsesLayoutAndManySection</div>
}

@section SecondSection {
    <div>Second section in ViewThatUsesLayoutAndManySection</div>
}

@section ThirdSection {
    <div>Third section in ViewThatUsesLayoutAndManySection</div>
}

<div>ViewThatUsesLayoutAndManySection</div>