<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <link href='http://legit-dzignine.blogspot.ie/favicon.ico' rel='icon' type='image/x-icon' />

    <title>Legit</title>
    <link href="../../Content/blog.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Goudy+Lobster+Bookletter+1911|Questrial' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' type='text/javascript'></script>
    <script src='http://dzignine.com/template/script/jquery.spritely-0.1.js' type='text/javascript'></script>
    <script type='text/javascript'>
        (function ($) {
            $(document).ready(function () {

                $('#cloud').pan({ fps: 30, speed: 1, dir: 'right' });

                $('#cloud2').pan({ fps: 30, speed: 2, dir: 'right' });

                $('#cloud3').pan({ fps: 30, speed: 0.5, dir: 'right' });

            });
        })(jQuery);
    </script>
</head>
<body>
    <div id='cover-cloud'>
        <div id='cloud'>&#160;</div>
        <div id='cloud2'>&#160;</div>
        <div id='cloud3'>&#160;</div>
    </div>
    <div id='outer-wrapper'>
        <div id='wrap2'>
            <div id='content-wrapper'>
                <div id='mountain'></div>
                <div id='left-content'>
                    <div id='header-wrapper'>
                        <div class='header section' id='header'>
                            <div class='widget Header' id='Header1'>
                                <div id='header-inner'>
                                    <a href='#' style='display: block'>
                                        <img alt='Legit' src='../../Content/images/logo.png' />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='sidebar2-wrapper'>
                        <div class='sidebar section' id='leftsidebar'>
                            <div class='widget PageList' id='PageList1'>
                                <h2>Pages</h2>
                                <div class='widget-content'>
                                    <ul>
                                        <li class='selected'><a href='#'>Home</a></li>
                                        <li><a href='#'>About Me</a></li>
                                        <li><a href='#'>Contact Us</a></li>
                                        <li><a href='#'>Portfolio</a></li>
                                        <li><a href='#'>Premium</a></li>
                                    </ul>
                                    <div class='clear'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id='credit-wrapper'>
                        <div class='credit'>
                            Copyright &#169; <a href='http://legit-dzignine.blogspot.ie/'>Legit</a><br />
                            <span>Design <em>by</em>
                                <a href='http://dzignine.com'>Dzignine</a></span>
                        </div>
                    </div>
                </div>
                <!-- /END leftContent -->
                <div id='main-wrapper'>
                    <div class='main section' id='main'>
                        <div class='widget Blog' id='Blog1'>
                            <div class='blog-posts hfeed'>
                                <!-- google_ad_section_start(name=default) -->

                                <div class="date-outer">


                                    <div class="date-posts">

                                        <div class='post-outer'>
                                            <div class='post hentry'>
                                                <div class='hentry-top'>
                                                    <span>Thursday, April 12, 2012</span>
                                                </div>
                                                <h3 class='post-title entry-title'>
                                                    <a href='#'>The Quick Styles</a>
                                                </h3>
                                                <div class='post-header'>
                                                    <div class='post-header-line-1'>
                                                    </div>
                                                </div>
                                                <div class='post-body entry-content'>
                                                    <p>Both the Themes gallery and the Quick Styles gallery provide reset commands so that you can always restore the look of your document to the original contained in your current template. On the Insert tab, the galleries include items that are designed to coordinate with the overall look of your document. You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks. When you create pictures, charts, or diagrams, they also coordinate with your current document look. You can easily change the formatting of selected text in the document text by choosing a look for the selected text from the Quick Styles gallery on the Home tab.</p>

                                                    <img style="margin: 20px auto; display: block" src="http://2.bp.blogspot.com/-rb6ucqrN9b4/T4bSGqxvaYI/AAAAAAAADRU/yTMAEyWxcoo/s1600/Chloe%2BGrace%2BMoretz.jpg" alt="chole" />

                                                    <p>You can also format text directly by using the other controls on the Home tab. Most controls offer a choice of using the look from the current theme or using a format that you specify directly. To change the overall look of your document, choose new Theme elements on the Page Layout tab. To change the looks available in the Quick Style gallery, use the Change Current Quick Style Set command. Both the Themes gallery and the Quick Styles gallery provide reset commands so that you can always restore the look of your document to the original contained in your current template.</p>
                                                    <div style='clear: both;'></div>
                                                </div>
                                                <div class='post-footer'>
                                                    <div class='post-footer-line post-footer-line-1'>
                                                        <span class='post-author vcard' style='margin-right: 10px;'>
                                                            <span class='fl'>Author: </span>
                                                            <span class='fn'>Biyan</span>
                                                        </span>
                                                        <span class='post-labels'>
                                                            <span class='fl'>Label: </span>
                                                            <a href='#' rel='tag'>Beauty</a>,
                                                            <a href='#' rel='tag'>Girl</a>,
                                                            <a href='#' rel='tag'>Outdoor</a>,
                                                            <a href='#' rel='tag'>Portraits</a>,
                                                            <a href='#' rel='tag'>Spontaneous</a>
                                                        </span>
                                                    </div>
                                                    <div class='post-footer-line post-footer-line-2'>
                                                        <div class='post-share-buttons'>
                                                            <a class='goog-inline-block share-button sb-email' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=7510902890917167032&target=email' target='_blank' title='Email This'>
                                                                <span class='share-button-link-text'>Email This</span>
                                                            </a><a class='goog-inline-block share-button sb-blog' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=7510902890917167032&target=blog' onclick='window.open(this.href, "_blank", "height=270,width=475"); return false;' target='_blank' title='BlogThis!'>
                                                                <span class='share-button-link-text'>BlogThis!</span>
                                                            </a><a class='goog-inline-block share-button sb-twitter' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=7510902890917167032&target=twitter' target='_blank' title='Share to Twitter'>
                                                                <span class='share-button-link-text'>Share to Twitter</span>
                                                            </a><a class='goog-inline-block share-button sb-facebook' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=7510902890917167032&target=facebook' onclick='window.open(this.href, "_blank", "height=430,width=640"); return false;' target='_blank' title='Share to Facebook'>
                                                                <span class='share-button-link-text'>Share to Facebook</span>
                                                            </a>
                                                            <div class='goog-inline-block dummy-container'>
                                                                <g:plusone annotation='none' size='medium'></g:plusone>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='post-footer-line post-footer-line-3'>
                                                        <span class='post-location'></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="date-outer">


                                    <div class="date-posts">

                                        <div class='post-outer'>
                                            <div class='post hentry'>
                                                <div class='hentry-top'>
                                                    <span>Wednesday, April 11, 2012</span>
                                                </div>
                                                <a name='6606364926053508882'></a>
                                                <h3 class='post-title entry-title'>
                                                    <a href='http://legit-dzignine.blogspot.ie/2012/04/overall-look.html'>Overall Look</a>
                                                </h3>
                                                <div class='post-header'>
                                                    <div class='post-header-line-1'>
                                                    </div>
                                                </div>
                                                <div class='post-body entry-content'>
                                                    <img src="http://1.bp.blogspot.com/-W003TOqgpf4/T4bTHLbYaxI/AAAAAAAADRg/dcABbJdn8yo/s1600/Lala%2BKarmela_5741266_n.jpg" style="float: right; margin: 0 0 10px 20px; width: 300px" />

                                                    <p>When you create pictures, charts, or diagrams, they also coordinate with your current document look. You can easily change the formatting of selected text in the document text by choosing a look for the selected text from the Quick Styles gallery on the Home tab. You can also format text directly by using the other controls on the Home tab. Most controls offer a choice of using the look from the current theme or using a format that you specify directly. To change the overall look of your document, choose new Theme elements on the Page Layout tab.</p>

                                                    <p>To change the looks available in the Quick Style gallery, use the Change Current Quick Style Set command. Both the Themes gallery and the Quick Styles gallery provide reset commands so that you can always restore the look of your document to the original contained in your current template. On the Insert tab, the galleries include items that are designed to coordinate with the overall look of your document. You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks. When you create pictures, charts, or diagrams, they also coordinate with your current document look.</p>
                                                    <div style='clear: both;'></div>
                                                </div>
                                                <div class='post-footer'>
                                                    <div class='post-footer-line post-footer-line-1'>
                                                        <span class='post-author vcard' style='margin-right: 10px;'>
                                                            <span class='fl'>Author: </span>
                                                            <span class='fn'>Biyan</span>
                                                        </span>
                                                        <span class='post-labels'>
                                                            <span class='fl'>Label: </span>
                                                            <a href='http://legit-dzignine.blogspot.ie/search/label/Beauty' rel='tag'>Beauty</a>,
                                                            <a href='http://legit-dzignine.blogspot.ie/search/label/Girl' rel='tag'>Girl</a>,
                                                            <a href='http://legit-dzignine.blogspot.ie/search/label/Guitar' rel='tag'>Guitar</a>,
                                                            <a href='http://legit-dzignine.blogspot.ie/search/label/Indoor' rel='tag'>Indoor</a>,
                                                            <a href='http://legit-dzignine.blogspot.ie/search/label/Musician' rel='tag'>Musician</a>,
                                                            <a href='http://legit-dzignine.blogspot.ie/search/label/Portraits' rel='tag'>Portraits</a>
                                                        </span>
                                                    </div>
                                                    <div class='post-footer-line post-footer-line-2'>
                                                        <div class='post-share-buttons'>
                                                            <a class='goog-inline-block share-button sb-email' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=6606364926053508882&target=email' target='_blank' title='Email This'>
                                                                <span class='share-button-link-text'>Email This</span>
                                                            </a><a class='goog-inline-block share-button sb-blog' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=6606364926053508882&target=blog' onclick='window.open(this.href, "_blank", "height=270,width=475"); return false;' target='_blank' title='BlogThis!'>
                                                                <span class='share-button-link-text'>BlogThis!</span>
                                                            </a><a class='goog-inline-block share-button sb-twitter' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=6606364926053508882&target=twitter' target='_blank' title='Share to Twitter'>
                                                                <span class='share-button-link-text'>Share to Twitter</span>
                                                            </a><a class='goog-inline-block share-button sb-facebook' href='http://www.blogger.com/share-post.g?blogID=6953228581238987340&postID=6606364926053508882&target=facebook' onclick='window.open(this.href, "_blank", "height=430,width=640"); return false;' target='_blank' title='Share to Facebook'>
                                                                <span class='share-button-link-text'>Share to Facebook</span>
                                                            </a>
                                                            <div class='goog-inline-block dummy-container'>
                                                                <g:plusone annotation='none' size='medium'></g:plusone>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='post-footer-line post-footer-line-3'>
                                                        <span class='post-location'></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- google_ad_section_end -->
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /END mainWrapper -->
                <div id='sidebar-wrapper'>
                    <div class='sidebar section' id='rightsidebar'>

                        <div class='widget PopularPosts' id='PopularPosts1'>
                            <h2>Popular Posts</h2>
                            <div class='widget-content popular-posts'>
                                <ul>
                                    <li>
                                        <div class='item-content'>
                                            <div class='item-thumbnail'>
                                                <a href='http://legit-dzignine.blogspot.ie/2012/04/both-themes-gallery-and-quick-styles.html' target='_blank'>
                                                    <img alt='' border='0' height='72' src='http://2.bp.blogspot.com/-rb6ucqrN9b4/T4bSGqxvaYI/AAAAAAAADRU/yTMAEyWxcoo/s72-c/Chloe%2BGrace%2BMoretz.jpg' width='72' />
                                                </a>
                                            </div>
                                            <div class='item-title'><a href='http://legit-dzignine.blogspot.ie/2012/04/both-themes-gallery-and-quick-styles.html'>The Quick Styles</a></div>
                                            <div class='item-snippet'>Both the Themes gallery and the Quick Styles gallery provide reset commands so that you can always restore the look of your document to the ...</div>
                                        </div>
                                        <div style='clear: both;'></div>
                                    </li>
                                    <li>
                                        <div class='item-content'>
                                            <div class='item-thumbnail'>
                                                <a href='http://legit-dzignine.blogspot.ie/2012/04/overall-look.html' target='_blank'>
                                                    <img alt='' border='0' height='72' src='http://1.bp.blogspot.com/-W003TOqgpf4/T4bTHLbYaxI/AAAAAAAADRg/dcABbJdn8yo/s72-c/Lala%2BKarmela_5741266_n.jpg' width='72' />
                                                </a>
                                            </div>
                                            <div class='item-title'><a href='http://legit-dzignine.blogspot.ie/2012/04/overall-look.html'>Overall Look</a></div>
                                            <div class='item-snippet'>When you create pictures, charts, or diagrams, they also coordinate with your current document look. You can easily change the formatting ...</div>
                                        </div>
                                        <div style='clear: both;'></div>
                                    </li>
                                </ul>
                                <div class='clear'></div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class='clear'>&#160;</div>
                <!-- /CLEAR floating element -->
            </div>
            <!-- /END content-wrapper -->
        </div>
    </div>
    <!-- /END outerWrapper & wrap2 -->
    <!-- /CALL Google+ -->



</body>
</html>
