<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Forms Authentication Demo</title>
</head>
<body>
    <a href="secure">Enter the "Secure Zone"!</a><br/>

    <a href="partlysecure">Enter the "Partly Secure Zone"!</a><br/>
</body>
</html>
