<html>
<head>
    <title>Negotiation Demo</title>
</head>
<body>
    <h1>Hello @Model.FirstName</h1>

    <p>
        This is a text/html representation of a RatPack model, 
        you should be seeing this because you requested text/html either manually or
        via your browser. Try using Fiddler to hit this url and request JSON, or add .json to
        the end of this url.
    </p>
</body>
</html>