<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
  </configSections>

  <spark>
    <compilation debug="true" defaultLanguage="CSharp" />
    <pages automaticEncoding="false">
      <resources>
        <add match="~/content" location="http://cdn.example.com/mysite" />
      </resources>
    </pages>
  </spark>
</configuration>
