   <div style='clear: both;'></div>
                    </div>
                    <div class='post-footer'>
                        <div class='post-footer-line post-footer-line-1'></div>
                        <div class='post-footer-line post-footer-line-2'>
                            <div>
                                <strong>Tags:
                                @Each.Tags
                                @Current
                                @EndEach
                                </strong>
                            </div>
                            <div class='post-share-buttons'>
                                <a class='goog-inline-block share-button sb-email' href='#' target='_blank' title='Email This'><span class='share-button-link-text'>Email This</span>

                                </a>
                                <a class='goog-inline-block share-button sb-blog' href='#' target='_blank'
                                   title='BlogThis!'><span class='share-button-link-text'>BlogThis!</span>

                                </a>
                                <a class='goog-inline-block share-button sb-twitter' href='#' target='_blank' title='Share to Twitter'><span class='share-button-link-text'>Share to Twitter</span>

                                </a>
                                <a class='goog-inline-block share-button sb-facebook' href='#' target='_blank'
                                   title='Share to Facebook'><span class='share-button-link-text'>Share to Facebook</span>

                                </a>
                                <div class='goog-inline-block dummy-container'>
                                    <g:plusone annotation='none' size='medium'></g:plusone>
                                </div>
                            </div>
                        </div>
                        <div class='post-footer-line post-footer-line-3'>
                            <span class='post-location'></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>