<div class='widget Blog'>
    <div class='blog-posts hfeed'>
        <div class="date-posts">
            <div class='post-outer'>
                <div class='post hentry'>
                    <div class='hentry-top'>
                        <span>@Model.FriendlyDate</span>

                    </div>
                    <h3 class='post-title entry-title'>

                    </h3>

                    <div class='post-header'>
                        <div class='post-header-line-1'></div>
                    </div>
                    <div class='post-body entry-content'>